<p id="notice"><%= notice %></p>

<p>
  <strong>Sub:</strong>
  <%= @add.sub %>
</p>

<p>
  <strong>Marks:</strong>
  <%= @add.marks %>
</p>

<%= link_to 'Edit', edit_add_path(@add) %> |
<%= link_to 'Back', adds_path %>
