<!DOCTYPE html>
<html>
<head>
  <title>Pro1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Post", posts_path%>
<%= link_to "Comments" ,comments_path%>
<%= link_to "adds" ,adds_path%>
<%= yield %>

</body>
</html>
